<div class="container">
  <h1 class="title">Todos</h1>
  <div class="ver">4.0</div>

  <input class="input-todo" placeholder="What needs to be done?" (keyup.enter)="addTodo($event.target)" autofocus>
  <ul class="nav">
    <li *ngFor="let navItem of navItems" id="all" [class.active]="navState === navItem" (click)="navState=navItem">
      {{navItem}}</li>
  </ul>

  <ul class="todos" *ngIf="_todos; else loading">
    <li class="todo-item" *ngFor="let todo of _todos | todosFilter: navState">
      <input type="checkbox" id="ck-{{todo.id}}" class="custom-checkbox" [checked]="todo.completed"
        (change)="checkTodo(todo.id)">
      <label for="ck-{{todo.id}}">{{todo.content}}</label>
      <i class="remove-todo far fa-times-circle" (click)="removeTodo(todo.id)"></i>
    </li>
  </ul>
  <ng-template #loading>loading...</ng-template>

  <div class="footer">
    <div class="complete-all">
      <input type="checkbox" id="ck-complete-all" class="custom-checkbox" (change)="checkAll($event.target.checked)"
        [checked]="checkAllMark">
      <label for="ck-complete-all">Mark all as complete</label>
    </div>
    <div class="clear-completed">
      <button class="btn" (click)="clearCompleted()">Clear completed (<span
          class="completed-todos">{{CompletedCount}}</span>)</button>
      <strong class="active-todos">{{LeftCount}}</strong> items left
    </div>
  </div>
</div>

<pre>{{ _todos | json }}</pre>